/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My styles*/

*{
	font-family: 12px/5px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
body{
	height: auto;
	padding-left: 12.5%;
	padding-right: 12.5%;
}
.main-content{
	background:url("img/your_verse_hero.jpg");
	background-position:bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	overflow: hidden;
	width: 100%;
}
nav{
	background-image: linear-gradient(to bottom, #8A8A8A 50%, #737578 50%);
	border-radius: 5px;
	color: #fff;
	display: block;
	height: 40px;
	margin: 5.5% auto;
	position: relative;
	text-align: center;
	width: 68%;
	z-index: 20;
}
.apple-logo{
	width: 25px;
}

nav a{
	color: #fff;
	text-decoration: none;
}

.search-image{
	left: 2px;
	position:absolute;
	top: 3px;
	width: 12px;
	z-index: 50;
}
nav input{
	background-color: #8A8A8A;
	background-image: url(img/magnifying.png);
	background-size: 12px 12px;
	background-position: left;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin-right: 2px;
	width: 100px;
  	-webkit-transition: background-image, width 1.5s;
  	transition: background-image, width 1.5s;

	float: left;
	
}
nav input:focus{
	background-color: white;
	background-image: url(img/magnifying-2.png);
	width: 120px;
}
nav li{
	border:1px solid gray;
	display: table-cell;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	vertical-align: middle;
	width: 13%;
}
nav ul li:hover{
	background-image: linear-gradient(to bottom, #8A8A8A 20%, #363737 80%);
}
header{
	color: #fff;
}
.header-text{
	text-align: center;
}
header h1{
	font-size: 70px;
	margin-bottom: 15px;
}
header h2{
	font-size: 30px;
	margin-bottom: 20px;
}
header a{
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}
.play-icon{
	vertical-align: middle;
	width: 30px;
}
.aside-div{
	position: relative;
	width: 100%;
}
aside{
	height: 200px;
	top: 0;
	left:0;
	position: absolute;
    z-index: 1;
}
aside ul{
	height: 200px;
	list-style: none outside;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 1024px;
	overflow: hidden;
	text-align: center;
	position: relative;
    z-index: 1;
}
aside li{
	float: left;
	height: 200px;
	margin: 0;
	overflow: hidden;
	position: relative;
    width: 25%;
    z-index: 1;
}

.footer-div{
	margin-top: 230px;
	position: relative;
	width: 100%;
}

footer{
	box-sizing: border-box;
	height: 50px;
	bottom: 0;
	    color: #6e6e6e;
    font-size: .8334em;
	top: 0;
	left:0;
	padding-left:9%; 
	padding-right:9%; 
	position: absolute;
	width: 100%;
    z-index: 1;
}

footer a{
	color: #08c;
	text-decoration: none;
}

.footer-info{
	display: inline-block;
	float: left;
	
}

footer ul li{
	display: inline;
	float: right;
	vertical-align: top;
}

.copyright{
	clear: left;
}