/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My styles*/

*{
	font-family: 12px/5px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

main{
	padding:0 12.5%;
}

.main-content{
	background:url("img/your_verse_hero.jpg");
	background-position:bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	overflow: hidden;
	width: 100%;
}

nav{
	background-image: linear-gradient(to bottom, #8A8A8A 50%, #767676 50%);
	border-radius: 5px;
	color: #fff;
	display: block;
	height: 40px;
	margin: 5.5% auto;
	position: relative;
	text-align: center;
	width: 68%;
	z-index: 20;
}

.apple-logo{
	width: 25px;
}

nav li input{
	background-image: url(img/magnifying.png) 7px 7px;
	padding-left:30px;
	border-radius: 10px;
	width: 50px;
}

nav li{
	border:1px solid gray;
	display: table-cell;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	vertical-align: middle;
	width: 13%;
}

header{
	color: #fff;
}

.header-text{
	text-align: center;
}

header h1{
	font-size: 70px;
}
header h2{
	font-size: 30px;
}

header a{
	color: #fff;
	text-decoration: none;
	font-size: 25px;
}

.play-icon{
	width: 30px;
	vertical-align: middle;
}

aside{
	
	position: absolute;
    z-index: 1;
    bottom: 90px;
    display: block;
    width: 100%;
    height: 200px;
}

aside ul{
	position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1440px;
    height: 200px;
    list-style: none outside;
    text-align: center;
}

aside li{
	position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 25%;
    height: 200px;
}

footer{

	position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 0;
    color: #6e6e6e;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    zoom: 1;
}

.footer-container{
	margin-left: 20%;
	margin-right: 20%;
}

.footer-info{
	display: block;
	float: left;
    padding-top: 1.5em;
    text-align: left;
}

footer a{
	color: #4A8FFF;
	text-decoration: none;
}

.footer-menu{
	float: right;
    padding-top: 1.5em;
    
}

.footer-menu li{
	    display: inline-block;
}

.copyright p{
	display: block;
	float: left;
    padding-top: 1.5em;
    text-align: left;
}

.copyright li{
		float: left;
	    display: inline-block;
}